.contenedor{
    color: rgb(24, 24, 77);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 16px;
    border-radius: 10px;
    padding: 16px;
}

.label{
    color: rgb(24, 24, 77);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(201, 185, 165);
    border-radius: 10px;
    padding: 16px;
}



table, th, td {
    border:1px solid black;
}

h1{
    font-size: 20px;
    display: inline;
}

button{
    width: 150px;
    height: 30px;;
    margin-left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(236, 214, 207);
    
}
